@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@mixin backdrop-filter($props) {
  -webkit-backdrop-filter: $props;
  backdrop-filter: $props;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("roberto-nickson-lGCfApDzhYw-unsplash.jpg");;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
  & {
    color: #efefef;
    //transition: 0.3s color;
  }
}
.main-area {
  display: flex;
  flex-grow: 1;
}

.window {
  position: absolute;
  width: 500px;
  height: 500px;
  min-width: 300px;
  min-height: 200px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 7px 20px rgb(0 0 0 / 40%);
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: flex-start;

.header {
    display: flex;
    width: 100%;
    align-content: center;
    background: rgb(67 67 67 / 30%);
    @include backdrop-filter(blur(65px) brightness(0.5));
    padding: 14px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%) inset;
    transition: 0.3s background-color;
    .title-bar {
      display: flex;
      img {
        width: 23px;
        margin: -4px -2px;
        margin-right: 4px;
      }
      span {
        margin-left: 4px;
      }
    }
  }

  .menu {
    height: 100%;
    padding: 20px 10px;
    background: rgb(0 0 0 / 50%);
    @include backdrop-filter(blur(65px) brightness(0.5));
    padding-right: 0;
    width: 140px;
    transition: 0.3s background-color;
    ul {
      list-style: none;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;

      li.category-title {
        font-size: 12px;
        font-weight: 600;
        opacity: 0.8;
        padding-left: 4px;
      }
      li {
        font-size: 13px;
        padding: 5px 4px;
        padding-left: 13px;
      }
    }
  }


  .content {
    background: #1c1c1c;
    flex-grow: 1;
    padding: 20px 15px;
    height: 100%;
    transition: 0.3s background-color;
  }
}


.light {
  color: #333;
  .header {
    //backdrop-filter: blur(65px);
    @include backdrop-filter(blur(30px));
    background-color: rgb(255 255 255 / 75%);
  }

  .content {
    background: #FFF;
  }
  .menu {
    background: rgb(255 255 255 / 85%);
    @include backdrop-filter(blur(30px));
  }
}

.resize-interface {

  //width: 100%;
  //position: absolute;
  //height: 100%;
  .resize-touch-area {
    position: absolute;
    width: 15px;
    height: 15px;
    //background: rgba(255, 0, 0, 0.5);
    z-index: 500;
    &.top {
      top: 0;
      left: 0;
      width: 100%;
      cursor: ns-resize;
    }
    &.bottom {
      bottom: 0;
      left: 0;
      width: 100%;
      cursor: ns-resize;
    }
    &.left {
      top: 0;
      left: 0;
      height: 100%;
      cursor: ew-resize;
    }
    &.right {
      top: 0;
      right: 0;
      height: 100%;
      cursor: ew-resize;
    }
    &.top-left {
      top: 0;
      left: 0;
      cursor: nwse-resize;
    }
    &.top-right {
      top: 0;
      right: 0;
      cursor: nesw-resize;
    }
    &.bottom-left {
      bottom: 0;
      left: 0;
      cursor: nesw-resize;
    }
    &.bottom-right {
      bottom: 0;
      right: 0;
      cursor: nwse-resize;
    }
  }
}
.windows-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.template {
  display: none;
}